<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{asset('bootstrap.min.css')}}" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="{{ asset('jquery-3.6.0.min.js') }}"></script>

    <title>Title</title>
</head>
<body>
<div>
    <form action="{{ path('userCab') }}">
        <table>
            <tr>
                <td>
                    {{ user[0].username }}
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Открыть модальное окно
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Модальное окно</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Текст или содержимое модального окна -->
                                    <p>Это содержимое модального окна.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    <button type="button" class="btn btn-primary">Сохранить изменения</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {{ user[0].password }}
                </td>
                <td>
                    {# @TODO: Редактировать пароль #}
                </td>
            </tr>
            {% if is_granted('ROLE_USER_ORG') %}
                <tr>
                    <td>
                        {{ user[0].inn }}
                    </td>
                    <td>
                        {# @TODO: Редактировать ИНН #}
                    </td>
                    <td>
                        {{ user[0].companyName }}
                    </td>
                    <td>
                        {# @TODO: Редактировать Название компании #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        {{ user[0].firstName }}
                    </td>
                    <td>
                        {# @TODO: Редактировать Имя #}
                    </td>
                    <td>
                        {{ user[0].secondName }}
                    </td>
                    <td>
                        {# @TODO: Редактировать Фамилию #}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    {{ user[0].phone }}
                </td>
                <td>
                    {# @TODO: Редактировать ИНН #}
                </td>
                <td>
                    {{ user[0].email }}
                </td>
                <td>
                    {# @TODO: Редактировать Название компании #}
                </td>
            </tr>
            <tr>
                <td>
                    {{ user[0].dateOfReg|date("Y-m-d H:i:s") }}
                </td>
                <td>
                    {{ user[0].dateOfUpd|date("Y-m-d H:i:s") }}
                </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>